<!DOCTYPE html>
<html>
  <head>
    <title>TonightBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo3Hf5ulPHj2eofHS4rgJm6KtvpkADsBo"></script>
  </head>
  
  <script type="text/javascript">
    
    window.logo = "<%= image_url('airbnb.png')%>"
    window.profile_pic = "<%=image_url('empty-profile.png')%>"
    window.splash = "<%=image_url('white.jpg')%>"
    window.left = "<%=image_url('left.jpg')%>"
    window.middle = "<%=image_url('middle.jpg')%>"
    window.right = "<%=image_url('right.jpg')%>"
    window.airbnb = "<%= image_url('image.jpg') %>"
    window.guy = "<%= image_url('guy.jpg')%>"
    window.yoga = "<%= image_url('yoga.jpg')%>"
    window.peng = "<%= image_url('peng.jpg')%>"
    window.musician = "<%= image_url('musician.jpg')%>"
    window.spot = "<%= image_url('black.jpg')%>"
    window.spot1 = "<%= image_url('spot1.png')%>"
    window.spot2 = "<%= image_url('spot2.jpg')%>"
    window.spot3 = "<%= image_url('spot3.jpg')%>"
    window.spot4 = "<%= image_url('spot4.jpg')%>"
    window.spot5 = "<%= image_url('spot5.jpg')%>"
    window.star = "<%= image_url('star.png')%>"
    window.vid1 = "<%= video_url('video1.mp4')%>"
  </script>


  <body>
    <%= yield %>
  </body>
</html>
