<!DOCTYPE html>
<html>
  <head>
    <title>TonightBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <script type="text/javascript">
    
    window.logo = "<%= image_url('airbnb.png')%>"
    window.profile_pic = "<%=image_url('empty-profile.png')%>"
    window.splash = "<%=image_url('white.jpg')%>"
    window.left = "<%=image_url('left.jpg')%>"
    window.middle = "<%=image_url('middle.jpg')%>"
    window.right = "<%=image_url('right.jpg')%>"
    window.airbnb = "<%= image_url('image.jpg') %>"
  </script>


  <body>
    <%= yield %>
  </body>
</html>
