<!DOCTYPE html>
<html>
  <head>
    <title>tonightbnb</title>
    <meta property="og:title" content="Tonightbnb" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tonight-bnb-aa.herokuapp.com/" />
    <meta property="og:image" content="<%= image_url('preview.png') %>?" />
    <meta property="og:description" content="An Airbnb inspired site called Tonightbnb, built with React/Redux, Ruby on Rails " />
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['REACT_APP_GOOGLE_KEY']}" %>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/react-day-picker/lib/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Crimson+Text|Archivo|Cardo|Quicksand|Roboto|Sarabun|Dancing+Script|Asap|Lato|Montserrat|Raleway|Great+Vibes|Pacifico|Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap" rel="stylesheet">
  </head>
  

  <script type="text/javascript">
    
    window.logo = "<%= image_url('airbnb.png')%>"
    window.marker = "<%= image_url('comments-64.png') %>"
    window.profile_pic = "<%=image_url('empty-profile.png')%>"
    window.splash = "<%=image_url('white.jpg')%>"
    window.left = "<%=image_url('left.jpg')%>"
    window.middle = "<%=image_url('middle.jpg')%>"
    window.right = "<%=image_url('right.jpg')%>"
    window.airbnb = "<%= image_url('image.jpg') %>"
    window.guy = "<%= image_url('guy.jpg')%>"
    window.yoga = "<%= image_url('yoga.jpg')%>"
    window.peng = "<%= image_url('peng.jpg')%>"
    window.musician = "<%= image_url('musician.jpg')%>"
    window.spot = "<%= image_url('black.jpg')%>"
    window.spot1 = "<%= image_url('spot1.png')%>"
    window.spot2 = "<%= image_url('spot2.jpg')%>"
    window.spot3 = "<%= image_url('spot3.jpg')%>"
    window.spot4 = "<%= image_url('spot4.jpg')%>"
    window.spot5 = "<%= image_url('spot5.jpg')%>"
    window.star = "<%= image_url('star.png')%>"
    window.vid1 = "<%= video_url('video1.mp4')%>"
    window.logo1 = "<%= image_url('logo1.png')%>"
    window.logo2 = "<%= image_url('logo2.png')%>"
    window.booking = "<%= image_url('backbook.png')%>"
    window.booking1 = "<%= image_url('background_trips.jpg')%>"
    window.trips =  "<%= image_url('trips.png')%>"
    window.newlogo = "<%= image_url('newlogo.jpg')%>" 
    window.superleft = "<%= image_url('superleft.jpg')%>"
    window.atlantic = "<%= image_url('atlantic.jpg')%>"
    window.hampton = "<%= image_url('hampton.jpg')%>"
    window.hudson = "<%= image_url('hudson.jpg')%>"
    window.newport = "<%= image_url('newport.jpg')%>"
    window.oceancity = "<%= image_url('oceancity.jpg')%>"
    window.saratoga = "<%= image_url('saratoga.jpg')%>"
    window.scranton = "<%= image_url('scranton.jpg')%>"
    window.woodstock = "<%= image_url('woodstock.jpg')%>"

  </script>


  <body>
    <%= yield %>
  </body>
</html>
